extends ../layout

block content

  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    legend Add New Meeting
    .form-group
      label.col-sm-3.control-label(for='email') Date
      .col-sm-7.input_group
        input.form-control(class="form_datetime", type='text', name='date', id='date', placeholder='31 December 1999', autofocus)
    .form-group
      label.col-sm-3.control-label(for='room') Room
      .col-sm-7
        input.form-control(type='text', name='room', id='room', placeholder='407 ERC')
    .form-group
      label.col-sm-3.control-label(for='summary') Summary
      .col-sm-7
        input.form-control(type='text', name='summary', id='summary', placeholder='Lorem Ipsum')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Add Event
  link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
  script(type='text/javascript', src='/js/bootstrap-datepicker.js')
