#footer
  .container.text-center
    div
      | © 2014 Jonah Back.
    div
      |  Student Organization Manager
      |  ·
      | Created by
      a(href='http://jonahback.com')  Jonah Back
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/backjo/OrganizationManager') GitHub Project
      |  ·
      a(href='https://github.com/backjo/OrganizationIssues')  Issues
