extends layout

block content
  a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
    i.fa.fa-google-plus
    | Integrate with Google Calendar!

  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    legend Modify Settings
    .form-group
      label.col-sm-3.control-label(for='organizationName') Organization Name
      .col-sm-7
        input.form-control(value="#{settings.organizationName}",type='text', name='organizationName', id='organizationName', placeholder='Student Organization', autofocus)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Save
